@keyframes fadein {
  0% {opacity: 0; top: -15px;}
  50% {opacity: 0.3;}
  100% {opacity: 1; top: 0px;}
}

@keyframes pfadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes bfadein {
  from {opacity: 0;}
  to {opacity: 1;}
}


@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}
